{% extends 'portfolio/layout.html' %}

{% block content %}
<!--main content-->
<div class="main-content">
    <div class="section-right">
        <div class="portfolio">
            <h1>{{  post.title }}</h1>
            <div>
                <span class="type-meta"><i class="user">Jonathan Grenz</i></span>
                <span class="type-meta"><i class="tags"> Coder, Photographer, Sculpter</i></span>
            </div>
            <p>{{ post.created_date }}</p>
            <p>{{ post.text }}</p>
        </div>
        {% for photo in photos %}
            <div class="polaroid">
                <li>
                    <a href="../../../media/{{ photo.image }}">
                        <img src="../../../media/{{ photo.image }}">
                    </a>
                    <p>
                        {% if user.is_authenticated %}
                            <a href="{% url 'photo_edit' pk=photo.id %}">Edit</a> /
                            <a href="{% url 'photo_delete' pk=photo.id %}">Delete</a>
                        {% endif %}
                    </p>
                </li>
            </div>
        {% endfor %}
        </div>
    <!--/main content-->

{% endblock %}