{% extends "portfolio/layout.html" %}
{% load static %}

{% block content %}
<div class="main-content">
    <div class="section-right">
        <body>
            <h1>Gallery</h1>
            <ul>
            {% for photo in photos %}
                <div class="polaroid">
                    <li>
                        <a href="../../../media/{{ photo.image }}" target=”_blank”>
                            <img src="../../../media/{{ photo.image }}">
                        </a>
                        <p>
                            {% if user.is_authenticated %}
                                <a href="{% url 'photo_edit' pk=photo.id %}">Edit</a> /
                                <a href="{% url 'photo_delete' pk=photo.id %}">Delete</a>
                            {% endif %}
                        </p>
                    </li>
                </div>
            {% endfor %}
            </ul>
        </body>
    </div>
</div>
{% if user.is_authenticated %}
<a href="{% url 'photo_upload' %}" >upload</a>
{% endif %}
{% endblock %}